.header {
  background-color: #fff;
  width: auto;
  margin-top: $header-margin-top;
  padding-bottom: 16px;
  height: $header-height;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #000000;
  .logo {
    width: 100px;
    height: 100px;
    border: 0.5px solid #000000;
    background: #fff;
    font-family: "Poppins", sans-serif;

    margin-left: 20px;
    transform: translate(0px, 0px);
  }
  .nav {
    display: flex;
    font-size: 1.6rem;
    align-items: center;
    span {
      display: inline-block;
      margin: 4px 1rem;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: #000;
    }
    .navLi {
      font-family: "Poppins", sans-serif;
      font-weight: 100;
      cursor: pointer;
      position: relative;
      &:first-of-type {
        margin-left: 2.2rem;
      }
      &.focus {
        font-style: italic;
      }
      &:hover,
      &.focus {
        font-weight: 500;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          width: 100%;
          height: 1px;
          left: 0;
          bottom: -0.5rem;
          border-bottom: 1px solid #000;
          transform: scaleY(0.5);
        }
      }
      // &:hover {
      //   &::after {
      //     animation: animation 0.5s forwards;
      //     @keyframes animation {
      //       0% {
      //         width: 0%;
      //       }
      //       100% {
      //         width: 100%;
      //       }
      //     }
      //   }
      // }
    }

    .category {
      display: flex;
      align-items: center;
      margin-left: 1.4rem;
      .arrow {
        height: 2rem;
        margin-right: 1.6rem;
      }
      .cat {
        display: flex;
        .catLi {
          cursor: pointer;
          font-family: "Yu Gothic UI";
          font-weight: 400;
          font-size: 1rem;
          &:not(:last-child) {
            &::after {
              content: "|";
              margin: 0 10px;
              font-weight: lighter;
            }
          }
          &:hover {
            font-weight: 600;
          }
        }
      }
    }
  }
  .rightNav {
    display: flex;
    align-items: center;
    padding-right: 1rem;
    transform: translateY(0.1rem);
    .search svg {
      margin: 0 1rem;
      height: 2.2rem;
      width: 2.2rem;
    }
    .map svg {
      margin: 0 0.6rem;
      height: 2.2rem;
      width: 2.2rem;
    }
  }
}

.footer {
  font-family: Poppins;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 2rem;
  text-align: right;
}
