.header {
  background-color: #fff;
  width: auto;
  margin-top: $header-margin-top;
  padding-bottom: 16px;
  height: $header-height;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #000000;
  .logo {
    width: 100px;
    height: 100px;
    border: 0.5px solid #000000;
    background: #fff;
    font-family: "Poppins", sans-serif;

    margin-left: 20px;
    transform: translate(0px, 0px);
  }
  .nav {
    display: flex;
    font-size: 1.6rem;
    align-items: center;
    .navDivider {
      display: inline-block;
      margin: 4px 1rem;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: #000;
    }
    .navLi {
      font-family: "Poppins", sans-serif;
      font-weight: 100;
      cursor: pointer;
      position: relative;
      &:first-of-type {
        margin-left: 2.2rem;
      }
      &.focus {
        font-style: italic;
      }
      &.focus {
        font-weight: 500;
        position: relative;
        font-style: italic;

        &::after {
          content: "";
          position: absolute;
          width: 100%;
          height: 1px;
          left: 0;
          bottom: -0.5rem;
          border-bottom: 1px solid #000;
          transform: scaleY(0.5);
        }
      }
      &:hover {
        font-weight: 500;
        position: relative;
        font-style: italic;
      }

      // &:hover {
      //   &::after {
      //     animation: animation 0.5s forwards;
      //     @keyframes animation {
      //       0% {
      //         width: 0%;
      //       }
      //       100% {
      //         width: 100%;
      //       }
      //     }
      //   }
      // }
    }

    .category {
      display: flex;
      align-items: center;
      margin-left: 1.4rem;
      .arrow {
        height: 2rem;
        margin-right: 1.6rem;
      }
      .cat {
        display: flex;
        .catLi {
          z-index: 1;
          cursor: pointer;
          font-family: "Yu Gothic UI";
          font-weight: 400;
          font-size: 1rem;
          position: relative;
          padding: 1rem 0;
          &:hover {
            font-weight: 600;
            .childCat {
              font-weight: 400;
            }
          }
          .childCat {
            position: absolute;
            top: 3rem;
            left: 0;
            background-color: red;
            width: max-content;
            // min-width: 6.5rem;
            // width: min-content;
            // width: auto;
            &:hover {
              font-weight: 400;
            }
            ul {
              position: relative;
              background-color: #fff;
              font-size: 0.75rem;
              &::before {
                position: absolute;
                content: "";
                width: 100%;
                height: 100%;
                inset: 0;
                background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='1' stroke-dasharray='4' stroke-dashoffset='2' stroke-linecap='square'/%3e%3c/svg%3e");
              }
              li {
                padding: 0.7rem 1rem;
                position: relative;
                text-align: center;
                &:not(:first-child) {
                  &::before {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 1px;
                    top: 0;
                    left: 0;
                    border-bottom: 1px solid #000;
                    transform: scaleY(0.5);
                  }
                }
                &:hover {
                  background-color: #d6d6d6;
                }
              }
            }
          }
        }
        .catDivider {
          display: inline-block;
          margin: 1rem 0.8rem;
          width: 1px;
          height: 1rem;
          transform: scaleX(0.5);
          background-color: #000;
        }
      }
    }
  }
  .rightNav {
    display: flex;
    align-items: center;
    padding-right: 1rem;
    transform: translateY(0.1rem);
    .search svg {
      margin: 0 1rem;
      height: 2.2rem;
      width: 2.2rem;
    }
    .map svg {
      margin: 0 0.6rem;
      height: 2.2rem;
      width: 2.2rem;
    }
  }
}

.footer {
  font-family: Poppins;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 2rem;
  text-align: right;
}
